body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.custom-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
    border: none;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.custom-table tbody tr:nth-child(odd) {
    background-color: #e6e6e6;
}

.custom-table th:first-child,
.custom-table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.custom-table th:last-child,
.custom-table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.search-container {
    position: fixed;
    display: inline-block;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

.search-button {
    background: linear-gradient(to bottom, #ffffff, #000000);
    border: none;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.search-button img {
    width: 20px;
    height: 20px;
}
.search-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.search-input {
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
}

.search-button {
    width: 40px;
    background: linear-gradient(to bottom, #ffffff, #000000);
    border: none;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.search-button img {
    width: 20px;
    height: 20px;
}